body{
	font-family: sans-serif;
	margin: 3vw 3vw 2vw 3vw;
}
.logo{
	display: inherit;
	text-decoration: none;
	font-family: 400;
	font-size: 4vw;
	color: #000;
	width: 18%;
}
.logo1{
	color: #7BD8FF;
}
.topmenu{
	text-align: center;
    background: #35444F;
	list-style: none;
	max-width: 100%;
}
.one{
	display: inline-block;
	list-style: none;
}
.pos{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 2vw;
	padding: 1.5vw 2vw 1.5vw 2vw;
}
.pos:hover{
	background: #222F3A;
	outline: solid 0.1vw #fff;
	width: auto;
}
.marg{
	margin: 0;
}
.menu{
	margin-top: 2vw;
	border: solid 1px #35444F;
	max-width: 25vw;
	min-width: 25vw;
	float: left;
}
.left{
    display: inline-block;
    width: 100%;
    max-width: 25vw;
    text-decoration: none;
    color: #485863;
    font-size: 2vw;
    line-height: 6vw;
    padding-left: 2.4vw;
}
.left:hover{
	background: #DBDBDB;
	padding-left: 6vw;
	max-width: 19vw;
}
.img{
	float: left;
	margin: 2vw 0 0 2vw;
	border: solid 1px #35444F;
	min-width: 65vw;
	text-align: center;
	height: 40vw;
	max-width: 65vw;
}
.img1{
    display: grid;
    margin: auto;
    width: 25vw;
    padding-top: 5vw;
}
.abzac{
	margin: 1.5vw 0 0 27vw;
	text-align: left;
	float: left;
	font-size: 1.2vw;
}
.botmenu{
	display: inline-block;
	list-style: none;
	float: left;
	max-width: 90vw;
	min-width: 90vw;
	background: #B4B7BA;
	margin-top: 2vw;
	line-height: 3vw;
}
.alalala{
	display: inline-block;
}
.allmenubot{
	float: left;
	font-size: 2vw;
	display: inline-block;
	padding: 0.8vw 1vw 0vw 1vw;
	color: #0C1927;
	text-decoration: none;
}
.last{
	display: inline-block;
	float: right;
}
.coppy{
	display: inline-block;
    font-size: 2vw;
    text-decoration: none;
    float: left;
    padding: 0.8vw 2vw 0 0;
}
.allmenubot:hover{
	text-decoration: underline;
	color: #3181A6;
}